 /*  * {
  outline: 1px solid red;
} */

/* fonts */

 @font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}



/* variables for media queries, not using bootstraps less-files*/


$xs-min: 480px;
 $xs-max: 767px;
$small-min: 768px;
$small-max: 991px;
$medium-min: 992px;
$large-min: 1200px;


/* color variables */

$accent-color: #95A5A6;

/* Element styles */


body {
  margin-top: 0;
  font-family: 'Roboto', 'Ubuntu-light', monospace;
  color: black;
  padding-bottom: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* overflow: scroll;
  -webkit-overflow-scrolling: touch; */

}

 #skrollr-body {
   min-height: 1px;
 }

h1 {
  font-size: 42px;
  font-weight: 700;

}
a {
  color: $accent-color;
  &:hover {
    color: $accent-color;
  }
  &:visited {
    color: $accent-color;
    text-decoration: none;
  }

}


//this overrides stupid bootstrap css for background

.navbar-default {
  background: white;
  border: none;
  border: 0 !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  div > a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: #000;
    &:visited {
      text-decoration: none;
    }
  }
}

 .navbar-fixed-top,
 .navbar-fixed-bottom {
   position: fixed;
   margin-left: 0px;
   margin-right: 0px;
 }



.main-navigation {
  background: rgba(255,255,255,1);
  font-size: 28px;
  border: none;


}

.parallax-div {
  margin-top: 120px;
  margin-left: 10%;
  font-size: 24px;

}

.about-me {
  padding-top: 100px;
  color: black;
  font-size: 6vw;
  margin: 10px;
}

.portfolio-list {
  padding: 0 20px 0 20px;
  font-size: 5vw;
  line-height: 7vw;
  margin-top: 150px;

  a {
    &:visited {
      color: red;
    }
  }

}

.footer-nav {
  background: rgba(255,255,255,1);
  bottom: 0;
  left:0;
  font-size: 28px;
  margin-bottom: 0;
  padding-top: 30px;
  box-shadow: none;

  div {
    &:nth-child(3), div &:nth-child(4) {
      padding-bottom: 10px;
    }
  }


  div > a{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 10px 0;
    //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  a {
    color: black;
    &:visited {
      text-decoration: none;
    }

  }
}

img {
  max-width: 80%;
 // margin: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


}

.portfolio-list {
  div {
    margin: 20px 0;
  }

}

.portfolio-list-2 {
  margin-top: -20px;
  padding: 0 20px;
  div {
    margin: 20px 0;

  }
  &:last-child {
    margin-bottom: 50px;
  }
}





/* Media queries */
/*
@media (max-width: $small-max) {

    .navbar-fixed-top {
      position: fixed;
      top: auto;
    }
    .navbar-collapse {
      max-height: none;
    }
    body {
      margin: 0;
    }


} */
@media (min-width: $xs-min) {
  .portfolio-list{
    font-size: 5vw;
    line-height: 7vw;
  }

  .about-me {
    font-size: 4vw;
  }


}

@media (min-width: $small-min) {
  .portfolio-list {
    font-size: 2.73vw;
    line-height: 5vw;
  }

}

@media (min-width: $medium-min) {

  .main-navigation {
    background: rgba(255,255,255,1);
  }

  .portfolio-list {
    font-size: 1.5vw;
    line-height: 3vw;
    padding: 0 0 100px 0;

  }

  .portfolio-list-2 {
    font-size: 1.5vw;
    line-height: 3vw;


  }

  .portfolio-list, .portfolio-list-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-me {
    font-size: 1.75vw;
  }

  .footer-nav div > a {
    box-shadow: none;
  }

  .footer-center {
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .footer-right {
    display:flex;
    justify-content:flex-end;
    align-items: flex-end;
  }

  .navbar-push-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    a {

    }
  }

  h1 {
    padding: 3vw;
  }
}


@media (min-width: $large-min) {
  .portfolio-list {
    font-size: 1.3vw;
    line-height: 3vw;
    padding: 0 0 75px 0;

  }

  .portfolio-list-2 {
    font-size: 1.3vw;
    line-height: 3vw;
  }

  .about-me {
    font-size: 1.5vw;
  }

  h1 {
    padding: 3vw;
  }
}

 @media (min-width: $medium-min) {

   body {
     padding-top: 70px;
   }

   .portfolio-list {
     display:flex;
     justify-content:center;
     align-items:center;

     div {
       min-width: 320px;
       max-width: 480px;
       max-height: 360px;




       h3 {
         position: absolute;
         bottom: 8em;
         padding: 2em;
         color: black;
         opacity: 0;
         -webkit-transform: translate3d(0,100%,0);
         transform: translate3d(0,100%,0);
         transition: opacity 0.2s, transform 0.35s;
         z-index: 9;
         -webkit-backface-visibility: hidden;
         font-weight: bold;
       }

       p {
         position: absolute;
         bottom: 2em;
         padding: 2em;
         color: black;
         opacity: 0;
         -webkit-transform: translate3d(0,100%,0);
         transform: translate3d(0,100%,0);
         transition: opacity 0.2s, transform 0.35s;
         z-index: 9;
         -webkit-backface-visibility: hidden;


       }

       img {
         min-height: 100%;
         max-width: 100%;
         box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
         opacity: 1;
         transition: opacity 0.2s, transform 0.35s;


       }
       &:hover {
         h3, p {
           opacity: 1;
           -webkit-transform: translate3d(0,0,0);
           transform: translate3d(0,0,0);
         }
       }

       &:hover img {
         opacity: 0.2;

       }

     }


   }

   .portfolio-list-2 {
     display:flex;
     justify-content:center;
     align-items:center;
     margin: 25px 0 170px 0;

     div {
       min-width: 320px;
       max-width: 480px;
       max-height: 360px;

       h3 {
         position: absolute;
         bottom: 8em;
         padding: 2em;
         color: black;
         opacity: 0;
         -webkit-transform: translate3d(0, 200%, 0);
         transform: translate3d(0, 100%, 0);
         transition: opacity 0.2s, transform 0.35s;
         z-index: 9;
         -webkit-backface-visibility: hidden;
         font-weight: bold;
       }

       p {
         position: absolute;
         bottom: 2em;
         padding: 2em;
         color: black;
         opacity: 0;
         -webkit-transform: translate3d(0, 200%, 0);
         transform: translate3d(0, 100%, 0);
         transition: opacity 0.2s, transform 0.35s;
         z-index: 9;
         -webkit-backface-visibility: hidden;

       }

       img {
         min-height: 100%;
         max-width: 100%;
         box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
         opacity: 1;
         transition: opacity 0.2s, transform 0.35s;

       }
       &:hover {
         h3, p {
           opacity: 1;
           -webkit-transform: translate3d(0, 0, 0);
           transform: translate3d(0, 0, 0);
         }
       }

       &:hover img {
         opacity: 0.2;

       }

     }
   }




 }
















