
/* fonts */


/* variables for media queries, not using bootstraps less-files*/

$small-max: 767px;
$xs-min: 480px;
$small-min: 768px;
$medium-min: 992px;
$large-min: 1200px;


/* color variables */

$accent-color: red;

/* Element styles */


body {
  padding-top: 70px;
  font-family: 'Courier', monospace;
  color: black;
  padding-bottom: 0;

}

h1 {
  font-size: 28px;
}
a {
  color: $accent-color;
  &:hover {
    color: $accent-color;
  }

}

//this overrides stupid bootstrap css for background

.navbar-default {
  background: none no-repeat;
  border: none;
  border: 0 !important;
  box-shadow: none !important;
  a {
    color: #000;
    &:visited {
      text-decoration: none;
    }
  }
}
.main-navigation {
  background-color: white;
  font-size: 28px;
  border: none;

}

.parallax-div {
  margin-top: 120px;
  margin-left: 10%;
  font-size: 24px;

}

.about-me {
  padding-top: 100px;
  color: black;
  font-size: 4vw;
  margin: 10px;
}

.portfolio-list {
  padding: 50px 20px 150px 20px;
  font-size: 5vw;
  line-height: 7vw;
  margin-top: 150px;
  margin-bottom: 170px;


  a {
    &:visited {
      color: red;
    }
  }

}

.footer-nav {
  bottom: 0;
  left:0;
  font-size: 28px;
  margin-bottom: 0;

  a {
    color: black;
    &:visited {
      text-decoration: none;
    }

  }
}


@media (min-width: $xs-min) {
  .portfolio-list{
    font-size: 5vw;
    line-height: 7vw;
  }

  .about-me {
    font-size: 3vw;
  }


}

@media (min-width: $small-min) {
  .portfolio-list {
    font-size: 2.73vw;
    line-height: 5vw;
  }

}

@media (min-width: $medium-min) {
  .portfolio-list {
    font-size: 1.5vw;
    line-height: 3vw;
    padding: 0 0 100px 0;

  }

  .about-me {
    font-size: 1.75vw;
  }
}

@media (min-width: $large-min) {
  .portfolio-list {
    font-size: 1.3vw;
    line-height: 3vw;
    padding: 0 0 75px 0;


  }

  .about-me {
    font-size: 1.5vw;
  }
}












